@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f4f8;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@theme {
  --color-navy: #1C4999;
  --color-light-blue: #71CDFF;
  --color-oren: #BD5B2C;
  --color-oren-muda: #DE7A49;
  --color-ash: #2B2B2B;
  --color-light-grey: #E7E4DC;
  --color-white: #FFFFFF;
  --color-butter: #F5E8C6;
  --color-caramel: #AB924F;
}